body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
   }

   a {
       color: inherit;
   }

   ul {
       padding: 0;
       margin: 0;    
    }

    ul li {
        list-style: none;
    }

   h1, h2, h3, h4 {
       margin: 0;
       font-weight: normal;
   }

   p {
       margin-top: 0;
   }

   * {
       box-sizing: border-box;
   }

   .main-page-wrapper {
       background: url("../img/hero.png") center top no-repeat, url("../img/hero-2.png") center bottom 45px no-repeat;
   }

   .container {
       margin: 0 auto;
       width: 1141px;
   }

   .wrapper__container {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       min-height: 600px;
   }

   .header {
       padding-top: 25px;
       margin-bottom: 116px;
       display: flex;
       justify-content: space-between; 
       align-items: center;  
   }

   .header__col {
       display: flex;
       align-items: center;
   }

   .header__col--align--right {
    justify-content: flex-end;
    padding-top: 15px;
   }

   .logo {
       display: block;
       margin-right: 77px;
   }

.menu {
    }

    .menu__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 51px;
    }

    .menu__item--active .menu__link {
        color: #DA0100;
    }

    .menu__item:last-child {
        margin-right: 0;
    }

    .menu__link {
        font-size: 14px;
        text-decoration: none;
    }

    .menu__link:hover {
        color: #DA0100;
    }

    .contacts {
        font-style: normal;
        text-align: right;

    }

    .contacts__tel {
        text-decoration: none;
        font-size: 26px;
        line-height: 0px;
    }

    .contacts__text {
        color: #9A9A9A;
        font-size: 11px;
        line-height: 3;
    }

    .contacts--footer {
        top: 12.64px;
    }

    .contacts__schedule {
        font-size: 13px;
        text-decoration: underline;
        color: #DA0100;
    }

    .preview {
        width: 50%;
    }

    .preview__title {
        font-size: 72px;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 23px;
    }

    .preview__text {
        font-size: 18px;
        margin-bottom: 31.5px;
    }

    .button--width {
    padding: 18px 38px !important;
    margin-left: 0px !important;
    }

    .preview__button:hover {
        color: #ece6e6;
    }

    .features {
        margin-top: 244px;
        margin-bottom: 129px;
    }

    .features__title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 49px;
        margin-right: 10px;
        display: inline-flex;
    }

    .features__content {
        padding-left: 21px;
        color: #303030;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .features__list {
        display: flex;
        justify-content: space-between;
    }

    .features__item {
        min-height: 449px;
        background: #FFFFFF;
        border-radius: 5px;
        width: calc(100% / 3 - 18.4px);
    }

    .features__item:last-child {
        margin-right: 0;
    }

    .features__img {
        max-width: 362px;
        min-height: 144px;
        margin-bottom: 28px;
    }

    .features__subtitle {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .features__desc {
        margin-bottom: 7.5px;
        display: flex;
        color: #666666;
    }
    
    .features__desc-block {
        display: inline-flex;
        width: 152px;
        padding: 9px;
    }

    .features__desc-block:last-child {
        margin-right: 0;
    }

    .features__desc-time {
        font-size: 16px;
        color: #666666;
    }

    .features__desc-icon {
        margin-right: 7px;
    }

    .features__text {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 23px;
    }

    .button {
        background: #F5170E;
        border-radius: 35px;
        margin-left: 24px;
        
        font-size: 14px;
        font-weight: bold;

        text-transform: uppercase;
        color: #fff;
        padding: 19px 27px;
        border: 1px solid transparent;
        
    }

    .button:hover {
        color: #fff;
        background: #DA0100;
    }

    .button--color {
        border: 1px solid #F5170E;
        background: #fff;
        color: #F5170E;
        margin-bottom: 26px;
    }

    .news__title {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 1.8px;
        margin-bottom: 54px;
    }

    .news__item {
        width: 557px;
        display: flex;
        align-items: flex-end ;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        margin-right: 20px;
    }

    .news__item:last-child {
        margin-right: 0;
    }

    .news__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .news__content {
         left: 0;
        right: 0;
        padding: 14px 29px;
        min-height: 155px;
        line-height: 1.4;
        
    }

    .news__date {
        display: inline-block;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .news__list {
        margin-bottom: 55px;
        display: flex;
        justify-content: space-between;
    }

    .news__subtitle {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 14px;
    }

    .paginator {
        display: flex;
        justify-content: center;
        margin-bottom: 145px;
    }

    .paginator__list {
        display: flex;
    }

    .paginator__item--active .paginator__link {
        background: #fff;
        color: red;
    }

    .paginator__link:hover {
        background: #fff !important;
        color: red !important;
    }

    .paginator__display, .paginator__list {
        display: inline-block;
        vertical-align: middle;
        margin-right: 26px;
        align-self: center;
    }

    .paginator__item {
        display: inline-block;
        vertical-align: middle;
    }

    .paginator__link {
        display: flex;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-decoration: none;
        font-weight: bold;
        line-height: 32px;
    }

    .about:before {
        content: "";
        width: 490px;
        height: 505px;
        background: url("../img/gates.png") center center / cover no-repeat;
    }

    .about {
        height: 552px;
        width: 1141px;
        margin-bottom: 80px;
        display: flex;
    }

    .about__desc {
        background: inherit;
        padding: 70px 81px;
        color: #000000 !important;
        width: 664px;
        position: absolute;

    }

    .about__title {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 37px;
    }

    .about__text {
        margin-bottom: 41px;
        line-height: 1.7;
    }

    .about__text p {
        margin-bottom: 20px;
    }

    .about__text p:last-child {
        margin-bottom: 0;
    }

    .about__content {
        display: flex;
        justify-content: space-between;
        margin-left: -141px;
        margin-top: 96px;
    }

    .about__content-img {
        display: flex;
    }

    .footer-container__content {
        border-top: 1px solid#1a3038;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-container__col {
        display: flex;
        align-items: center;
    }
 
    .footer-container__col--align--right {
     justify-content: flex-end;
     padding-top: 15px;
    }

    .socials__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
    }

    .socials__item:last-child {
        margin-right: 0;
    }

    .socials__link {
        display: block;
        text-decoration: none;
        width: 36px;
        height: 36px;
        background: center center no-repeat;
    }

    .socials {
        top: 25px;
        right: 259px;
        position: absolute;
    }

    .socials__item--icon--telegram .socials__link {
        background-image: url("../img/telegram.png");
    }

    .socials__item--icon--telegram .socials__link:hover {
        background-image: url("../img/t-hover.png");
    }

    .socials__item--icon--vk .socials__link {
        background-image: url("../img/vk.png");
    }

    .socials__item--icon--vk .socials__link:hover {
        background-image: url("../img/vk-hover.png");
    }

    .socials__item--icon--fb .socials__link {
        background-image: url("../img/f.png");
    }

    .socials__item--icon--fb .socials__link:hover {
        background-image: url("../img/f-hover.png");
    }

    .socials__item--icon--insta .socials__link {
        background-image: url("../img/in.png");
    }

    .socials__item--icon--insta .socials__link:hover {
        background-image: url("../img/in-hover.png");
    }